:root {
  /* TYPOGRAPHY */
  --base-font-family: "Roboto", sans-serif;
  --base-font-size: 0.875rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --border-radius: 4px;

  /* BRAND COLORS */
  --primary-color: #00b578;
  --secondary-color: #f44336;

  --white: #ffffff;
  --border-grey: #cccccc;
  --border-light: #eeeeee;
  --risk-red: #ff4d4f;
  --grey: #999999;
  --orange: #ff8f1f;
  --red: #ff0000;
}
